// Placeholder to allow customizing styles.


button {
    color: navy;
    padding: 10px 20px;
    cursor: pointer; /* Cursor set to pointer */
    background-color: transparent; /* No background color */
    border: none; /* No border */
  }
  
  button:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
  }

 